{% extends "base.html" %}
{% block title %}Главное меню{% endblock %}

{% block content %}
<h2 class="mb-4 text-center">👋 <strong>Привет, {{ user }}!</strong></h2>

{% if session.employee == "админ" %}

<div class="d-grid gap-3 px-3" style="max-width: 600px; margin: 0 auto;">

  <a href="/view-stock" class="btn btn-primary btn-lg d-flex align-items-center justify-content-center">
    <i class="bi bi-box-seam me-2"></i> Остатки материалов
  </a>

  <a href="/register-operation" class="btn btn-success btn-lg d-flex align-items-center justify-content-center">
    <i class="bi bi-hammer me-2"></i> Зарегистрировать операцию
  </a>

  <a href="/operations-log" class="btn btn-secondary btn-lg d-flex align-items-center justify-content-center">
    <i class="bi bi-clipboard-data me-2"></i> Лог операций
  </a>

  <a href="/salary-report" class="btn btn-warning btn-lg d-flex align-items-center justify-content-center">
    <i class="bi bi-hammer me-2"></i> Произведённые работы
  </a>

  <a href="/calculate-cost" class="btn btn-dark btn-lg d-flex align-items-center justify-content-center">
    <i class="bi bi-calculator me-2"></i> Себестоимость изделий
  </a>

  <a href="/labor-cost" class="btn btn-info btn-lg d-flex align-items-center justify-content-center">
    <i class="bi bi-gear me-2"></i> Себестоимость по работам
  </a>

  <a href="/add-purchase" class="btn btn-outline-primary btn-lg d-flex align-items-center justify-content-center">
    <i class="bi bi-box-arrow-in-down me-2"></i> Добавить поставку
  </a>

  <a href="/logout" class="btn btn-outline-danger btn-lg d-flex align-items-center justify-content-center">
    <i class="bi bi-box-arrow-right me-2"></i> Выйти
  </a>

  <a href="/files">
    <button style="margin-top: 10px; background-color: #7e57c2; color: white;" class="button">
      📂 Скачать все файлы
    </button>
  </a>

  <a href="{{ url_for('download_operations_log') }}" class="btn btn-outline-primary">📥 Скачать лог операций</a>
</div>

{% else %}

<div class="d-grid gap-3 px-3" style="max-width: 600px; margin: 0 auto;">
  <a href="/register-operation" class="btn btn-success btn-lg d-flex align-items-center justify-content-center">
    <i class="bi bi-hammer me-2"></i> Зарегистрировать операцию
  </a>

  <a href="/salary-report" class="btn btn-warning btn-lg d-flex align-items-center justify-content-center">
    <i class="bi bi-hammer me-2"></i> Произведённые работы
  </a>

  <a href="/add-purchase" class="btn btn-outline-primary btn-lg d-flex align-items-center justify-content-center">
    <i class="bi bi-box-arrow-in-down me-2"></i> Добавить поставку
  </a>

  <a href="{{ url_for('download_operations_log') }}" class="btn btn-outline-primary">
    📥 Скачать лог операций
  </a>

  <a href="/logout" class="btn btn-outline-danger btn-lg d-flex align-items-center justify-content-center">
    <i class="bi bi-box-arrow-right me-2"></i> Выйти
  </a>
</div>

{% endif %}


{% endblock %}
