<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Главное меню</title>
</head>
<body>
  <h2>Привет, {{ user }}!</h2>
  <ul>
    <li><a href="/view-stock">📦 Посмотреть остатки материалов</a></li>
    <li><a href="/register-operation">Зарегистрировать операцию</a></li>
    <li><a href="/logout">🚪 Выйти</a></li>
    <li><a href="/operations-log">📄 Посмотреть лог операций</a></li>
    <li><a href="/salary-report">🧮 Посмотреть зарплату</a></li>
    <li><a href="/calculate-cost">📊 Посчитать себестоимость</a></li>
    <li><a href="/labor-cost">📊 Себестоимость по работам</a></li>
    <li><a href="/add-purchase">📥 Добавить поставку</a></li>


  </ul>
</body>
</html>
